RESEND_API_KEY=
EMAIL_FROM="Chantier Pro <contact@chantierpro.xyz>"
EMAIL_REPLY_TO=contact@chantierpro.xyz
APP_URL=https://chantierpro.xyz
NEXTAUTH_URL=https://chantierpro.xyz

PAYDUNYA_ENV=test
PAYDUNYA_BASE_URL=
PAYDUNYA_MASTER_KEY=
PAYDUNYA_PRIVATE_KEY=
PAYDUNYA_TOKEN=

PAYDUNYA_API_KEY=
PAYDUNYA_API_SECRET=
