EMAIL_PROVIDER=resend
EMAIL_FROM=
RESEND_API_KEY=
APP_URL=
NEXTAUTH_URL=

PAYDUNYA_ENV=test
PAYDUNYA_BASE_URL=
PAYDUNYA_MASTER_KEY=
PAYDUNYA_PRIVATE_KEY=
PAYDUNYA_TOKEN=

PAYDUNYA_API_KEY=
PAYDUNYA_API_SECRET=
